* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.brand-logo {
    font-family: 'Pacifico', cursive;
}

.outline {
    border: 3px dotted red;
}

header {
    height: 250px;
    background-image: url('https://images.unsplash.com/photo-1581472723648-909f4851d4ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-size: cover
    background-position: center;
}
main {
    flex-grow: 1;
}

footer {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 150px;
}

.page-footer {
    padding: 0;
}

footer h3 {
    font-size: 20px;
}

footer section a {
    color: white;
}

i {
    font-size: 30px;
    margin: 10px 0px 10px 5px;
}